body {
    padding: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    font-family: 'Roboto', sans-serif;
    background-color: #eaebeb;
    margin: auto;
}
.black {
  color: black;
  font-size: 16px;
  font-weight: 600;
}
.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #eaebeb;
    flex-direction: column;
}
.logo__container {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 100%;
    height: 100%;
}
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #163e6a;
}
a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}
.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  .isDisabled > a {
    display: inline-block;  /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
  }
  .disabled {
    transition: 0.4s;
  }
  .disabled:hover {
    background-color: #1e5187;
  }
  .link-wrapper {
    display: flex;
    width: 80%;
    justify-content: center;
    overflow: hidden;
  }
  .link-wrapper .icon {
    display:none;
  }
  .navLinks {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .navItem {
    padding: 16px 15px;
    height: fit-content;
  }
  .special {
    transition: 0.4s;
  }
  .special:hover {
    background-color: #2865a7;
  }
  .hero__wrapper {
    width: 100%;
    height: 540px;
    background-image: url("/images/PillboxInterior.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 100%;
  }
  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: #4a92de50;
  }
  .hero-p {
    font-size: 20px;
    margin-left: 150px;
    margin-right: 10px;
    color: #fff;
  }

  .divider {
    height: 61px;
    width: 100%;
    background-color: #163e6a;
  }
  .main {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .content {
    width: 80%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .location__container {
    display: flex;
    justify-content: space-evenly;
    padding: 25px 0;
    width: 100%;
  }
  .location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .location > h2 {
    margin: 5px;
  }
  .googleMaps {
    height: fit-content;
    display: flex;
    justify-content: center;
    width: 50%;
  }
  .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  .info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .EMT_awards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .banner {
    background-image: url("/images/EMS_Banner.png");
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
  }
  .vote-btn {
    width: 150px;
    height: 75px;
    background-color: #163e6a;
    color: white;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 24px;
  }
  button:hover {
    cursor: pointer;
  }
  .EMS_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #0075f284;
    padding: 50px 0;
  }
  .EMS_title > h1 {
    margin: 0;
    font-size: 36px;
  }
  .EMS_title > h2 {
    margin: 5px;
  }
  .EMS_title > h4 {
    margin: 4px;
  }
  .ems-divider {
    border: 1px solid red;
    width: 50%;
  }
  .ems-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .adSpace {
    width: 10%;
  }
  @keyframes colorize {
    0% {background-color: rgb(162, 209, 255);color: black}
    50% {background-color: #0075f2; color: white;}
    100% {background-color: rgb(162, 209, 255); color: black}
  }
  .logo_link {
    padding: 0;
    margin: 0;
    display: flex;
    height: fit-content;
  }
  .EMT_awards-b {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }
  .finePrint {
    font-size: 10px;
  }
/* .poll {
    
} */

@media only screen and (max-width: 1125px) and (min-width: 621px) {
  /* For mobile phones: */


  body {
    width: 100vw;
    margin: auto;
  }

  /* Header */

  .logo__container {
    width: 100%;
    justify-content: center;
  }

  .logo {
    width: 80%;
  }

  /* Header End */

  /* NavBar */

  .link-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navLinks    li:not(:first-child) {
    display: none;
  }
  .link-wrapper a.icon {
    float: right;
    display: block;
  }
  .navLinks {
    flex-direction: column;
  }
  #nav {
    display: block;
    /* padding-top: 0; */
  }
  .icon {
    font-size: 24px;
    padding: 16px 15px;
  }
  /* NavBar End */

  /* Hero */

  .hero-text {
    padding: 25px 0;
    background-color:#163f6a9e ;
  }
  .hero-p {
    margin-left: 10px;
    font-size: 16px;
  }
  .hero {
    width: 100%;
    height: 100%;
  }
  .hero__wrapper {
    width: 100%;
    overflow: hidden;
  }

  /* Hero End */

  /* Main */
  .adSpace {
    width: auto;
  }
  .content {
    width: 100%;
    padding: 0;
  }
  .text {
    width: 100%;
  }
  br {
    display: none;
  }
  .main {
    width: 100vw;
  }
  /* Main End */

  /* EMS Award Banner */

  .EMT_awards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ems-text {
    text-align: center;
    width: 80%;
  }
  .banner {
    width: 100%;
  }
  
  /* EMS Award Banner End */

  .location__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .location {
    width: 90%;
    justify-content: center;
    text-align: center;
  }

  .link-wrapper.responsive {position: relative;}
  .link-wrapper.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navLinks.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
  .link-wrapper.responsive .dropdown {float: none;}
  .link-wrapper.responsive .dropdown-content {position: relative;}
  .link-wrapper.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */


  body {
    width: 100vw;
    margin: auto;
  }

  /* Header */

  .logo__container {
    width: 100%;
    justify-content: center;
  }

  .logo {
    width: 80%;
  }

  /* Header End */

  /* NavBar */

  .link-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navLinks    li:not(:first-child) {
    display: none;
  }
  .link-wrapper a.icon {
    float: right;
    display: block;
  }
  .navLinks {
    flex-direction: column;
  }
  #nav {
    display: block;
    /* padding-top: 0; */
  }
  .icon {
    font-size: 24px;
    padding: 16px 15px;
  }
  /* NavBar End */

  /* Hero */

  .hero-text {
    width: 100%;
    text-align: center;
    background-color:#163f6a9e ;
    padding: 25px 0;
  }
  .hero-p {
    margin-left: 10px;
    font-size: 16px;
  }
  .hero {
    width: 100%;
    height: 100%;
  }
  .hero__wrapper {
    height: auto;
    width: 100%;
  }

  /* Hero End */

  /* Main */
  .adSpace {
    width: auto;
  }
  .content {
    width: 100%;
    padding: 0;
  }
  .text {
    width: 100%;
  }
  br {
    display: none;
  }
  .main {
    width: 100vw;
  }
  /* Main End */

  /* EMS Award Banner */

  .EMT_awards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ems-text {
    text-align: center;
    width: 80%;
  }
  .banner {
    width: 100%;
  }
  
  /* EMS Award Banner End */

  .location__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .location {
    width: 90%;
    justify-content: center;
    text-align: center;
  }

  .link-wrapper.responsive {position: relative;}
  .link-wrapper.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navLinks.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
  .link-wrapper.responsive .dropdown {float: none;}
  .link-wrapper.responsive .dropdown-content {position: relative;}
  .link-wrapper.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}